@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Tangerine&display=swap");

$mainFont: "Montserrat", sans-serif;

.image {
  width: 50%;
  height: 100%;
  background-image: url("../../photo/forgotPassword.JPG");
  background-size: cover;
  border-radius: 1rem 0 0 1rem;
}
.reset {
  font-family: $mainFont;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  &__title {
    padding: 1rem 0;
  }
  &__info {
    padding-bottom: 3rem;
  }
  &__input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #ceb3b9;
    color: #1c389c;
    font-size: 1rem;
    &:focus {
      border-bottom: 1px solid #ff5136;
      &::-webkit-input-placeholder {
        color: #ff5136;
      }
    }
    &::placeholder {
      font-size: 1rem;
      color: #ceb3b9;
    }
  }
  &__error {
    width: 100%;
    color: red;
    font-size: 0.8rem;
    padding: 0.3rem 0 0.1rem;
  }
  &__remember {
    padding: 2rem 0 3rem;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s;
    color: #1c389c;
    &:hover {
      color: #ff5136;
    }
  }
  &__submit {
    width: 100%;
    cursor: pointer;
    border: 2px solid #1c389c;
    outline: none;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #fff;
    color: #1c389c;
    transition: all 0.2s;
    &:hover {
      background-color: #1c389c;
      color: #fff;
    }
  }
}
