@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Tangerine&display=swap");

$mainFont: "Montserrat", sans-serif;

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $mainFont;
  &__title {
    color: rgb(53, 53, 53);
    padding: 4rem 0;
  }
  &__button {
    width: 50%;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.2rem;
    border: 2px solid #ff5136;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
    color: #ff5136;
    transition: all 0.2s;
    &:hover {
      color: #fff;
      background-color: #ff5136;
      transform: scale(0.99);
    }
  }
}
